.main-div {
    width:300px;
    margin: 20px auto 10px auto;
    max-height: 700px;
    padding: 30px 20px 35px 20px;
    border-radius: 40px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #ffffff;
}
.main-box {
    /*background:url("Logo.png");*/
    width:80%;
    /*height: 40px;*/
    border-radius: 5px;
    margin:0 auto;
    box-shadow:
        /* logo shadow */
            0px 0px 2px #5f5f5f,
                /* offset */
            0px 0px 0px 5px #ecf0f3,
                /*bottom right */
            8px 8px 15px #a7aaaf,
                /* top left */
            -8px -8px 15px #ffffff
;
}
.main-box.battle-name{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
.main-box.data-box{
    padding: 2px 5px 2px 5px;
    width: 95%;
    margin-top: 5px;
    font-weight: 500;
}
p{
    margin: 0!important;
    font-weight: 400;
    font-size: 12px;
}
h4{
    margin-top: 2px!important;
    margin-bottom: 7px;
    font-size: 16px!important;
}

.title {
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.5px;
    margin-top: -2px;
}
.sub-title {
    text-align: center;
    font-size: 15px;
    margin: 3px auto;
    letter-spacing: 3px;
}

